:root{
  --box-side-length:100px;
  --box-margin:20px;
  --box-border: 2px dotted;
  --box-width: 100;
  --box-height: 100;
}
h1{
    background-color: aqua;
    color: rgb(157, 40, 230);
}
#testi
{
    color: rgb(14, 246, 153);
}
#information
{
    color: aqua;
}
#button:hover
{
    color: rgb(245, 15, 15);
}
root {
  --main-bg-color: brown;
}
div {
  background-color: aquamarine;
}

.box{
  border: var(--box-border);
  margin: var(--box-margin);
  width: var(--box-width);
  height: var(--box-height)
}

.black {
    background-color: black;
  }
  .silver {
    background-color: silver;
  }
  .gray {
    background-color: gray;
  }
  .white {
    background-color: white;
  }
  .maroon {
    background-color: maroon;
  }
  .red {
    background-color: red;
  }
  .purple {
    background-color: purple;
  }
  .fuchsia {
    background-color: fuchsia;
  }
  .green {
    background-color: green;
  }
  .lime {
    background-color: lime;
  }
  .olive {
    background-color: olive;
  }
  .yellow {
    background-color: yellow;
  }
  .navy {
    background-color: navy;
  }
  .blue {
    background-color: blue;
  }
  .teal {
    background-color: teal;
  }
  .aqua {
    background-color: aqua;
  }
